{% extends 'todo/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Page</title>
</head>
<body>
{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">
            <h1>About page</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-10 text-center">
            <h2>This site is written with Django as backend and Bootstrap as frontend.</h2>
            <hr>
            <h3>Really proud of this project. Enjoyed doing it</h3>
            <h4>Made by <a class="link-info" href="https://github.com/despaired-povidlo">despaired-povidlo</a></h4>
        </div>
    </div>
{% endblock content %}
</body>
</html>